header {
    width: 100%;
    height: 100vh;
    background: url('images/Header back.png');
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;

}


.overlay {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        to right,
        rgba(96, 160, 216, 0.62),
        rgba(179, 210, 52, 0.62)
    );
    position: absolute;
    z-index: 0;

}

