//couleurs 
$clr-blc: #ffffff;
$clr-vrt: #B2D234;
$clr-bleu: #60A0D8;
$clr-trspr: rgba(0,0,0,0.5);
$clr-overlay: #60A0D8;

//font-size
$fs-items: 18px;
$fs-commander: 15px;
$fs-mangoo: 126px;
$fs-mangoo2: 60px;
$fs-h2: 52px;




//font-weight
$fw-light: 300;
$fw-regular: 400;
$fw-smbld: 600;
$fw-bold: 700;

//font-family
$ff-poppins: 'Poppins', sans-serif;


//boutons
$btn-radius: 5px;



