/*
%social-links {
    display: flex;
        gap: 20px;
        align-items: flex-end;
        margin-left: 85%;
        margin-top: 28%;
     a{
     width: 31.52px;
     height: 31.51px;
     }
}

@mixin h2{
    font-size: 52px;
    color: $clr-vrt;
    font-family: $ff-poppins;
}

@mixin button($radius){
    border-radius: $radius;
    
}*/